.button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background: $gradient;
    color: $white;
    border-radius: 50px;
    border: none;
    font-weight: $fBold;
    font-size: $fsizeXS;
    cursor: pointer;

    &--stroked {
        border: $primary 2px solid;
        background: none;
        color: $primary;
    }
}