@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: $fRegular;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.page {
    padding: $padS;
}

.space {

    &__marg {

        &--r {
            margin-right: 1rem;
        }

        &--l {
            margin-left: 1rem;
        }
    }

    &__pad {

        &--r {
            padding-right: 1rem;
        }

        &--l {
            padding-left: 1rem;
        } 
    }
}


.flex {
    display: flex;
    align-items: center;

    &--col {
        flex-direction: column;
    }

    &--space {
        justify-content: space-between;
    }

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }
}